.project-container{
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dark-mode .project-container{
  background-color: #191818;
}
.light-mode .project-container{
  background-color: #e9ecef;
}
.image{
    width: 60%;
    
    height: 400px;
   background-image: url('../images/test1.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
 
   object-fit: cover;
  
}

.project-info{
   
    width: 40%;
   margin-left: 1%;
    height: 400px;
}

.project-con{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.dark-mode .color-t{
  color: white;
}
.project-con-2{
    width: 85%;
    display: flex;
   border: 1px solid gray;
   box-shadow: 1px 1px 1px 1 gray;
    border-radius: 5px;
    scale: 1;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}
.dark-mode .project-con-2{
  
    width: 85%;
    display: flex;
   border: 1px solid #67fd67;
   box-shadow: 1px 1px 1px 1 #67fd67;
    border-radius: 5px;
    scale: 1;
    transition: transform 0.5s ease-in-out;
}
.dark-mode .project-con-2:hover{
  box-shadow: 5px 5px 10px 6px #67fd67;
}

.par{
    
    display:  none;
    height: 100%;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fade-in 0.5s ease-in-out forwards, move-right-to-left 0.5s ease-in-out forwards;
 
    animation-delay: 0.5s;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
   
}
.par-2{
  display: none;
  font-size: 1.3rem;
}
.last-order{
  display: none;
}
.light-mode .project-con-2{
  background-color: white;
}
.project-con-2:hover .par{
    display: flex;
    flex-direction: column;
   
}
.project-con-2:hover .par h1{
   margin-bottom: 5%;
   margin-left: 2%;
   margin-top: 2%;
   
}
.project-con-2:hover .par .edit-p{
  font-size: 1.5rem;
   width: 90%;
   margin-left: 2%;
}
.project-con-2:hover{
    transform: scale(1.01);
   
    box-shadow: 5px 5px 10px 6px gray;
}
.project-con-2:hover.image:not(.par){
    filter: blur(1px);
    transition: filter 0.5s ease-in-out;
}


@keyframes fade-in {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
@keyframes move-right-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


@media only screen and (max-width:780px){
  .project-container{
   width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .image{
    width: 60%;
    
    height: 250px;
  
}
.project-info{
   margin-top: 5%;
   margin-bottom: 5%;
  width: 40%;
 margin-left: 0;
  height: auto;
}
  .last-order{
    display: block;
    height: auto;
    margin-top: 3%;
   margin-bottom: 5%;

  }
 
  .project-info{
    width: 95%;
    animation: none;
  }
  .project-con-2{
    width: 87vh;
    animation: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-p{
    font-family: Space Mono, monospace;
    font-size: 2rem;
    font-weight: 700;
  }
 
  .par-2{
    background-color: transparent;
    display: block;
    height: 100%;
    color:black;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
 
}
.project-con:hover .par{
    display: none;
   
}
.project-con-2:hover{
    transform: none;
    box-shadow: none;
}
.project-con-2:hover.image:not(.par){
    filter: none;
    transition: none;
}
.change{
 
  flex-direction: column-reverse;
}
.image{
  width: 100%;
}
.reverse-image-par {
  display: flex;
  flex-direction: column;
}
.last-order{
  width: 90%;
}

.reverse-image-par .last-order {
  order: 3;
}

.reverse-image-par .image {
  order: 2;
}
.reverse-image-par .project-info{
  order: 1;
}
}

@media only screen and (max-width:600px) {
  .project-container{
    width: 100vh;
    height: auto;
  }
    .project-con{
    width: 100vh;
    
  }
  .project-info{
    width: 95%;
    animation: none;
  }
  .project-con-2{
    width: 87vh;
    animation: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-p{
    font-family: Space Mono, monospace;
    font-size: 2rem;
    font-weight: 700;
  }
 
  .par-2{
    background-color: transparent;
    display: block;
    height: 100%;
    color:black;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
 
}
.project-con:hover .par{
    display: none;
   
}
.project-con-2:hover{
    transform: none;
    box-shadow: none;
}
.project-con-2:hover.image:not(.par){
    filter: none;
    transition: none;
}
.change{
 
  flex-direction: column-reverse;
}
.image{
  width: 100%;
}
.reverse-image-par {
  display: flex;
  flex-direction: column;
}
.last-order{
  width: 90%;
}

.reverse-image-par .last-order {
  order: 3;
}

.reverse-image-par .image {
  order: 2;
}
.reverse-image-par .project-info{
  order: 1;
}
    }    