.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 20px; 
   width: 75%;
}

.light-mode .big-footer{
  background-color: #f8f9fa;

}
.footer-edit{
  display: flex;
  justify-content: center;align-self: center;
}
.edit{
  width: 85%;
}
.edit2{
  width: 100%;
}
.edit-icon{
  height: 25px;
  width: 25px;
  color: blue;
}
.edit-icon1{
  height: 25px;
  width: 25px;
  margin-left: 5%;
  color: blue;
}

.footer-container > div  {
    flex: 1;

    padding: 10px; 
    box-sizing: border-box;
  }
  .dark-mode .edit-icon:hover{
    color: #67fd67;
    cursor: pointer;
  }
  .dark-mode .edit-icon1:hover{
    color: #67fd67;
    cursor: pointer;
  }
 .light-mode .edit-icon:hover{
    color: black;
    cursor: pointer;
  }
 .light-mode .edit-icon1:hover{
    color: black;
    cursor: pointer;
  }
  @media only screen and (max-width:780px) {
    .footer-edit{
      display: block;
      justify-content: center;align-self: center;
    }
    .big-footer{
      width: 100vh;
    }
    .edit-icon1{
      height: 25px;
      width: 25px;
      margin-left: 0%;
      
    }
   
  .footer-container{
    width: 100vh;
  }
  .edit{
    width: 100vh;
    
  }
  .edit2{
    width: 100vh;
    
  }
  .footer-container{
    display: block;
  }
  .footer-container > div {
  border-bottom: 1px black solid;
  margin: 0;
  text-align: center;
  }
  .edit-icon{
    height: 25px;
    width: 25px;
  }
  .edit-icon1{
   
    height: 25px;
    width: 25px;
  }
 .dark-mode .footer-container > div {
  border-bottom: 1px white solid;
  margin: 0;
  text-align: center;
  }
    }    
    
  @media only screen and (max-width:425px) {
    .edit-icon1{
      margin-left: 0;
    }

  }