*{
    font-family: Palatino, URW Palladio L, serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


:root {
    --background-color: white;
    --text-color: black;
  }
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    
  }
  .light-mode {
    background-color: white;
    color: black;
  }
  .dark-mode .color:hover{
    color: #67fd67;
  }
  .dark-mode {
    background-color: black;
    color:white;
  }
  .dark-mode .nav-container{
    background-color: black;
    color: white;
   
  }
  



  .dropdown {
    position: relative;
  }
  
  .dropdown:hover .dropdown-menu{
    display: block;
    border: black solid 1px;
  }
 .dark-mode .dropdown:hover .dropdown-menu{
    display: block;
    border:#67fd67  solid 1px;
    background-color: black;
    
  }
 
  .box {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .nav-me{
    
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
   
    border: 1px solid #ddd;
    padding: 10px;
    display: none;
    
  }
 
  
  .dropdown-menu{
    display: block;
  }
  
  .dropdown-item {
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
 .light-mode .dropdown-item:hover {
   
    color: blue;
  }
 .dark-mode .dropdown-item {
    padding: 10px;
    text-decoration: none;
  color: white;
  }
 .dark-mode .dropdown-item:hover {
    padding: 10px;
    text-decoration: none;
    color: #67fd67;
    background-color: transparent;
  }
  
 



  .dark-mode .costum-link{
    color: white;
  }
  .dark-mode .box {
    border-color: #67fd67; /* new border color in dark mode */
  }
  .dark-mode .color{
   
    color: white;
  }
  
  .costum-link{
    text-decoration: none;
    color:black;
    font-size: xx-large;
    margin-right: 5%;
    font-family: Space Mono, monospace;
    
  }
  .costum-link:hover{
    color: blue;
  }

  .decorated-link {
    position: relative;
    text-decoration: none;
    color: #333;
   
  }
  
  .decorated-link::before {
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 5px ;
    background-color: #333;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: none;
  }
  
  .decorated-link:hover::before {
    transform: translateY(0);
    display:block ;
  }
  .dark-mode .decorated-link::before{
    background-color: #67fd67;
  }


.nav-container{
   
    display: flex;
    width: 100%;
    border-bottom: solid black 2px;
    position: fixed;
    background-color: white;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.dark-mode .nav-container{
  
    border-bottom: solid #67fd67 2px;
 
}

.nav-content{
    display: flex;
    justify-content:end ;
    width: 60%;
    margin-bottom: 5px;
    margin-top: 5px; 
    align-items: center;
}
.nav-me{
    display:flex;
    width: 40%;  
    margin-top: 5px; 
    align-items: center;
}
.border-costum{
    border-radius: 50%;
    border: solid black 2px;
    transition: border-color 0.5s ease-in-out;
}
.dark-mode .border-costum{
    border-color: #67fd67; 
}
.box{
    width:50px ;
    height: 50px;
    border-radius: 50%;
    border: solid black 2px;
    margin-left: 5% ;
    margin-right: 3%;
    background-image: url('../images/Mee.jpg');
    background-position: center;
    background-size: cover;
    transition: border-color 0.5s ease-in-out;
}   
.icons1{
    width: 30px;
    height: 30px;
    display: block;
}
.dark-mode .icons1{
    width: 30px;
    height: 30px;
    display: block;
    color: #67fd67; ;
}
.icons2{
    width: 30px;
    height: 30px;
    display: none;
}


.costum-div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.costum-div{
    background-color: transparent;
}
.costum-div1{
    background-color: transparent;
}
.costum-div1.active{
   background-color: transparent;
    color: black;
 ;
}
.nav-me h1{
    display: red;
}
@media only screen and (max-width:780px) {
.nav-me h1{
    display: none;
}
.dropdown:hover .dropdown-menu{
  display: none;
  
}
.nav-container{
  width: 100vh;
}


.nav-me{
    
    width: 40%; 
      margin-left: 5%;
}
.costum-link{
font-size: x-large;
}
}    
@media only screen and (max-width:500px) {
.nav-me{
    width: 15%;
    margin-left: 5%;
  
}

.nav-content{
 width: 85%;   
 margin-right: 5%;
 
}
.costum-link{
font-size:x-large;
}

}    
