.about-info{
    display: flex;

}
.dark-mode .about-container {
    background-color:rgb(33, 32, 32);
    color: #fff; 
  }
.light-mode .about-container {
    background-color:#f8f9fa;
   
  }
.about-container{
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-box{
    width: 90%;
    gap: 10vh;
}
.skill-box{
    background-color:lightgray;
    width: auto;
    display: inline-block;
    padding: .75rem 1rem;
    margin: 5px;
    border-radius: 5px;
    
    border-radius: 5px;
    display: inline-block;
    font-family: Space Mono, monospace;
    font-weight: 700;
    padding: .75rem 1rem;
   
}
   

.bor-1{
    display:flex;
    align-items: center;
    justify-content: center;
}
.costum-p2{
    font-family: Space Mono, monospace;
    font-size: 1.5rem;
    font-weight: 700;

}
.costum-title{
    margin-top: 20%;
}
.custom-p3{
    font-size: 1.3rem;
    width: 90%;
}
.costum-p4{
    font-family: Space Mono, monospace;
    font-size: 1.25rem;
    font-style: italic;
    color: lightslategray;
}
.bor{
    width: 100px;
    height: 10px;
  border-radius: 5px;
    background-color: rgb(19, 13, 191);
    transition: 0.5s ease-in-out;
}
.dark-mode .skill-box{
    color: black;
}
.dark-mode .bor{
    background-color: #67fd67; 
}
@media only screen and (max-width:780px){
  .about-container{
    height: auto;
    min-height: 100vh;
    width: 100vh;
  }
}
@media only screen and (max-width:500px) {
    
    .about-container{
    width: 100vh;
    height: auto;
    }
    .about-info{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        width: 100vh;
    }
    .about-box{
        width: 90vh;
    }
    }    
