@media only screen and (max-width:780px) {
 .big-footer{
    width: 100vh;
 }
 .nav-container{
    width: 100vh;
 }
 .about-container{
    width: 100vh;
 }
 .me-constainer{
    width: 100vh;
 }


}
@media only screen and (max-width:425px) {
    .big-footer{
        width: 100vh;
     }
     .nav-container{
        width: 100vh;
     }
     .about-constainer{
        width: 100vh;
     }
     .me-constainer{
        width: 100vh;
     }
}
@media only screen and (max-width:375px) {
    .big-footer{
        width: 100vh;
     }
     .nav-container{
        width: 100vh;
     }
     .about-container{
        width: 100vh;
     }
     .me-constainer{
        width: 100vh;
     }
}
@media only screen and (max-width:320px) {
    .big-footer{
        width: 100vh;
     }
     .nav-container{
        width: 100vh;
     }
     .about-container{
        width: 100vh;
     }
     .me-constainer{
        width: 100vh;
     }
}